.app-background {
  width: 100%;
  min-height: 100vh;
  background-image: url('/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;        /* Xóa margin nếu cần */
  padding: 0;       /* Xóa padding nếu cần */
}
